#lbl_name, #lbl_surname {
    font-size: 40px;
    margin-right: 20px;
}

#img_profile {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    border: solid 3px #11a0ff;
    border-radius: 15px;
}

#lbl_post, #lbl_star {
    margin-top: 20px;
}

#btn_edit {
    width: 70px;
    height: 30px;
    border: solid 0;
    border-radius: 15px;
    margin: 15px 0;
    display: block;
}

#btn_edit:hover {
    background-color: silver;
}